<?xml version="1.0"?>
<launch>

    <!-- Setup Arguments for the machine -->
    <arg name="machine" default="Nano"/>
    <arg name="sim_case" default="1"/>
    <arg name="compressed" default="False"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="world_name" default="$(find aruco_client)/worlds/word2vec_empty.world"/>
    
    <arg name="vehicle" default="iris"/>
    <arg name="model_name" default="iris_bottom_cam_hitl"/> <!-- HITL_Compliant  -->
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model_name)/$(arg model_name).sdf"/>
    <arg name="respawn_mavros" default="false"/>
    <arg name="gcs_url" default=""/>
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
    
    <arg name="image_topic" value="/$(arg vehicle)/usb_cam/image_raw"/>
    <arg name="camera_info_topic" value="/$(arg vehicle)/usb_cam/camera_info"/>

    <!-- 3.2 Stuff from node.launch in mavros package -->
    <!-- This works on the nano -->
    <arg name="fcu_url" default="/dev/ttyTHS1:921600"/>

    <node machine="$(arg machine)" pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output)" respawn="$(arg respawn_mavros)">
        <param name="fcu_url" value="$(arg fcu_url)" />
        <param name="gcs_url" value="$(arg gcs_url)" />
        <param name="target_system_id" value="$(arg tgt_system)" />
        <param name="target_component_id" value="$(arg tgt_component)" />
        <param name="fcu_protocol" value="$(arg fcu_protocol)" />

        <!-- load blacklist, config -->
        <rosparam command="load" file="$(optenv CATKIN_BASE /home/nicolas/catkin_ws/src)/mavros/mavros/launch/px4_pluginlists.yaml" />
        <rosparam command="load" file="$(optenv CATKIN_BASE /home/nicolas/catkin_ws/src)/mavros/mavros/launch/px4_config.yaml" />
    </node>

    <arg name="init_wps" default="$(find knowledge_server)/config/Initial_WPs.csv"/>  
    
    <!-- 1. Launch a Gazebo File with the right settings -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- 2. Load the  model of the iris -->
    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

    <!-- 4. Load all the shwizzle for our system -->
    <node machine="$(arg machine)" pkg="ml_detector" type="ml_detector_node" name="ml_detector" clear_params="true" output="screen">        <!-- System Parameters -->
        <param name="system/publish_overlay" value="true" type="boolean"/>
        <param name="system/send_detailed_tag_info" value="true" type="boolean"/>
        <param name="system/show_rejected" value="false" type="boolean"/>
        <param name="system/refine_strategy" value="true" type="boolean"/>
        <param name="system/camera_is_rectified" value="false" type="boolean"/>
        <!-- Detection Parameters /-->
        <rosparam command="load" file="$(optenv CATKIN_BASE /home/nicolas/catkin_ws/src)/marker_localization/ml_detector/launch/detect_config.yaml"/>
        <rosparam command="load" file="$(optenv CATKIN_BASE /home/nicolas/catkin_ws/src)/marker_localization/ml_detector/launch/board_config.yaml"/>
        <!-- Marker Parameters -->
        <remap from="~detected_markers" to="/ml_landmarks/detected_markers"/>
        <!-- Image Parameters -->
        <remap from="~camera_info" to="$(arg camera_info_topic)"/>
        <remap from="~image_raw" to="$(arg image_topic)"/>
        <param if ="$(arg compressed)" name="image_transport" value="compressed"/>
    </node>

    <!-- 4.2 transform broadcaster -->
    <node pkg="aruco_client" type="base_link_tf2_broadcaster" name="base_link_world"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf_broadcaster" args="0.0 0.0 -0.03 1.57 3.14 0.0 base_link robot_camera_link"/>

    <!-- 4.3 the Node sending out the waypoints -->
    <node machine="$(arg machine)" pkg="aruco_client" type="wp_node" name="wp_node" output="screen"/>

    <!-- 4.4 The Gazebo spawn file -->
    <node pkg="knowledge_server" name="$(anon marker_spawn)" type="gazebo_spawning.py" output="screen" args="$(arg sim_case)"/>

    <!-- 4.6 the Knowledgebase shwizzle -->
    <group ns="knowledgebase">
        <rosparam command="load" file="$(find knowledge_server)/config/parameters.yaml"/>
        <node machine="$(arg machine)" pkg="knowledge_server" name="detection" type="word2vec_detection_reduced.py" output="screen"/>
        <node machine="$(arg machine)" pkg="knowledge_server" name="tf_server" type="register_tf_server_reduced.py" output="screen"/>
        <node machine="$(arg machine)" pkg="knowledge_server" name="cam_tf" type="cam_points_transform.py" output="screen"/>
        <node machine="$(arg machine)" pkg="knowledge_server" name="map_server" type="word2vec_mapping.py" output="screen"/>
        <node machine="$(arg machine)" pkg="knowledge_server" name="navigator" type="word2vec_navigation.py" output="screen" args="$(arg init_wps)"/>
    </group>

</launch>
