<launch>
    <arg name="machine" default="pi"/>
    <arg name="address" default="nico-pi"/>
    <arg name="user" default="nico"/>
    <param name="/enable_statistics" value="true"/>
    <arg name="sim_case" default="1"/>
    <machine name="$(arg machine)" address="$(arg address)" user="$(arg user)" env-loader="/home/nico/catkin_ws/devel/env_new.sh" timeout="10.0" default="false" />
    <arg name="filename" default="case_$(arg sim_case)"/>
    <arg name="full" default="false"/>

    <!--   Raspberry FCU URL -->
    <arg name="fcu_url" default="/dev/ttyAMA0:921600"/>
    <!--   Nano FCU URL -->
    <!-- <arg name="fcu_url" default="/dev/ttyTHS1:921600"/> -->

    <arg name="logging" default="False"/>
    <arg name="compressed" default="False"/>
    <arg name="visualize" default="False"/>
    <arg name="gui" default="true"/>


    <!-- Stuff for the profiler -->
    <include file="$(find rosprofiler)/launch/nano_profiler.launch">
        <arg name="logging" value="$(arg logging)"/>
        <arg name="machine" value="$(arg machine)"/>
        <arg name="sim_case" value="$(arg sim_case)"/>
        <arg name="filename" value="$(arg filename)"/>
    </include>

    <!-- Stuff for the hitl -->
    <arg unless="$(arg full)" name="hitl_file" value="base_hitl"/>
    <arg if="$(arg full)" name="hitl_file" value="base_hitl_full"/>
    <include file="$(find rosprofiler)/launch/$(arg hitl_file).launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="machine" value="$(arg machine)"/>
        <arg name="sim_case" value="$(arg sim_case)"/>
        <arg name="compressed" value="$(arg compressed)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- 5. Shutdown file - listening to ensure shutdown happens -->
    <node pkg="rosprofiler" name="shutdown" type="shutdown.py" output="screen" required="true"/>

    <!-- 6. Displaying if imaging is supported -->
    <group if="$(arg visualize)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find aruco_client)/config/rviz_config.rviz" />
        <node name="image_viewer" pkg="image_view" type="image_view" output="screen">
            <remap from="image" to="/ml_detector/image_overlay"/>
        </node>
    </group>
</launch>