<launch>
    <arg name="machine" default="Nano"/>
    <arg name="sim_case" default="1"/>
    <!-- <machine name="$(arg machine)" address="nano-wired" user="nico" env-loader="/home/nico/catkin_ws/devel/env_new.sh" timeout="10.0" default="false" /> -->

    <!-- Loading monitoring parameters -->
    <rosparam command="load" file="$(find rosprofiler)/config/profileparams.yaml"/>

    <!-- Monitoring Namespace -->
    <param name="filename" type="string" value="case_$(arg sim_case)"/>

    <!-- Client Nodes  -->
    <node machine="$(arg machine)" pkg="rosprofiler" type="rosprofilerNano" name="rosprofiler_$(arg machine)" output="screen"/>

    <!-- Host Nodes -->
    <node pkg="rosprofiler" type="rosgrapher" name="rosgrapher" output="screen"/>
    <node pkg="rosprofiler" type="rosprofilerNano" name="$(anon rosprofiler)" output="screen"/>
    <node pkg="rosprofiler" name="profiling_client" type="client.py" output="screen"/>

</launch>